body {
  background-color: #343a41;
  height: 100vh;
  border: 0;
  margin: 0;
}
.header {
  position: relative;
}

.color-clip {
  position: absolute;
  height: 300px;
  width: 80vw;
  top: 50px;
  right: 0;
}
#orange {
  background-color: #be5c51;
  -webkit-clip-path: ellipse(90% 77% at 100% 100%);
}
#orange:hover + .content {
  height: 300px;
}
#blue {
  background-color: #96c1ba;
  -webkit-clip-path: ellipse(70% 57% at 100% 100%);
}
#blue:hover + .content {
  height: 300px;
}
#yellow {
  background-color: #dbd359;
  -webkit-clip-path: ellipse(50% 37% at 100% 100%);
}
#yellow:hover + .content {
  height: 300px;
}
#grey {
  background-color: #343a41;
  -webkit-clip-path: ellipse(30% 17% at 100% 100%);
}
.content {
  position: absolute;
  top: 350px;
  right: 0;
  height: 0;
  overflow: hidden;
  width: 72vw;
  transition: height 2s;
  -webkit-transition: height 2s; /* Safari 3.1 to 6.0 */
}
