@import "../../sass/variables";

#Screen {
  height: $screen-height;
  width: $screen-width;
  background-color: black;
  z-index: 1;
  position: fixed;
  top: $screen-top;
  left: $screen-left;
  border-radius: $screen-border-radius;
  @include glow-z-3;
}
#ScreenOverlay {
  position: fixed;
  top: $screen-top;
  left: $screen-left;
  height: $screen-height;
  width: $screen-width;
  border-radius: $screen-border-radius;
  pointer-events: none;
  z-index: 99;
  background: repeating-linear-gradient(
    90deg,
    $primary-screen,
    $primary-screen 1px,
    hsla(0, 0%, 13%, 0.13) 0,
    hsla(0, 0%, 13%, 0.068) 2px
  );
}
