nav {
    color: #f5eedb;
}
header {
    background: url('../images/riverbed.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
}
#portfolio {
    padding-top: 0;
    padding-bottom: 2rem;
    min-height: 100vh;
}
#aboutme  {
    min-height: 100vh;
    
}
#contact {
    min-height: 90vh;

}
.material-icons{
    display: inline-flex;
    vertical-align: top;
}
.hero-text {
    margin-top: 15%;
}
.me {
    font-family: 'Abril Fatface', cursive;
    color: rgb(202, 218, 236);
    text-shadow: -1px 0 #000000a4, 0 1px #000000, 1px 0 #00000071, 0 -1px #00000071;
    margin: 0 auto;
}
.card-reveal {
    overflow:hidden
}
.card-title {
    margin-top:0;
}
nav {
    background-color: rgba(43, 55, 55, 0.363);
}
#mobile-menu {
    background-color: rgba(43, 55, 55, 0.603);
    padding: 15px;
}
#mobile-menu > li {
margin: 5px auto;

}
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
    /* max-height: 60vh; */
  }
.section > h3 {
    font-weight: bolder;
    font-size: 1.5rem;
    margin-top: .5rem;
}
.footer {
    padding: 15px;
}
.footer > a {
    margin: 0 3px;
}