html {
  font-size: 16px;
}
@font-face {
  font-family: Atarian;
  src: url(../font/SF-Atarian-System.woff);
}
@font-face {
  font-family: Atarian;
  src: url(../font/SF-Atarian-System-Bold.woff);
  font-weight: bold;
}

body {
  overflow: hidden;
  background-color: #343a41;
  background-image: radial-gradient(#009600bf, #282c31 120%);
  height: 100vh;
  color: aliceblue;
  font: 1rem Inconsolata, monospace;
  text-shadow: 0 0 5px #c8c8c8;
  margin: 0;
}
body::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%),
    linear-gradient(
      90deg,
      rgba(255, 0, 0, 0.06),
      rgba(0, 255, 0, 0.02),
      rgba(0, 0, 255, 0.06)
    );
  z-index: 99;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}
h1 {
  font-size: 2.5rem;
  font-weight: bold;
}
h3 {
  font-size: 1.5 rem;
  font-weight: bold;
}
.profile-pic {
  background-image: url('../images/face.JPG');
  border-radius: 15%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
  float: left;
  margin: 10px auto !important;
}
.about {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: #343a41;
}
.about div,
.about p,
.pDesc {
  max-width: 75ch;
  margin: 0 auto;
  border-right: 1px solid #3e4246;
  border-left: 1px solid #3e4246;
}
::selection {
  background: #0080ff;
  text-shadow: none;
}

.wrapper {
  position: fixed;
  overflow: hidden;
  /* overflow-y: scroll;
  overflow-x: hidden; */
  top: 0;
}

.info {
  position: fixed;
  top: 8%;
  z-index: 0;
  left: 10%;
}
.info a,
.contact a {
  opacity: 0.6;
}
.info a:hover,
.contact a:hover {
  opacity: 1;
}
a,
a:visited {
  color: aliceblue;
}

.color-clip {
  position: absolute;
  height: 300px;
  width: 80vw;
  top: 20px;
  right: 0;
  transition: opacity 0.4s ease-in-out;
}
.color-text {
  font-family: Atarian;
  font-weight: bold;
  font-size: 2rem;
  font-family: Atarian;
  position: absolute;
  text-overflow: ellipsis;
  overflow: hidden;
  bottom: 30px;
}
#screen:hover .color-clip:not(:hover) {
  opacity: 0.4;
}
#screen:hover .color-clip:not(:hover) ~ .color-bottom {
  opacity: 0.6;
}

.frame {
  background-color: transparent;
  /* overflow: hidden; */
  border-radius: 2rem;
  border: 1rem solid;
  border-bottom-color: #121212;
  border-left-color: #080808;
  border-right-color: #080808;
  border-top-color: #020202;
  box-shadow: inset 0 0 18rem black, inset 0 0 3rem black, 0 0 10rem black;
  top: 2%;
  left: 2%;
  height: 94%;
  width: 92%;
}
.content {
  position: absolute;
  border-top: 1px solid #282c3134;
  border-bottom: 1px solid #282c3134;
  top: 320px;
  right: 2%;
  height: 0;
  width: 95%;
  overflow: hidden;
  transition: height 0.6s;
  -webkit-transition: height 0.6s; /* Safari 3.1 to 6.0 */
  z-index: 2;
  box-shadow: 0px 1px 3px #005700bf, 0px -1px 3px #009600bf;
}
.shadow-inset {
  -moz-box-shadow: inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow: inset 0 0 10px #000000;
}
.overflow-hidden {
  overflow: hidden !important;
}
#yellow-content {
  display: flex;
  align-content: stretch;
  text-align: center;
}
address {
  min-height: 100%;
  display: flex;
  align-content: stretch;
  justify-content: center;
  text-align: center;
  width: 100%;
  overflow: hidden;
}
address .address-item {
  padding: 30px 0;
  height: 100%;
  font-weight: bold;
  flex: 1;
  line-height: 2.2rem;
}
.address-item a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

address .map {
  border-right: 1px solid #3e4246;
  background-image: url('../images/gmap.jpg');
  background-size: cover;
}
address span {
  display: flex;
  padding: 15px;
  align-items: center;
  justify-content: space-evenly;
  text-decoration: none;
}
.social span {
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: space-around;
  text-decoration: none;
}
p {
  padding: 15px;
  text-indent: 25px;
  text-align: justify;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  line-height: 1.5rem;
  font-size: 1rem;
}
.content[data-clicked='0'] {
  max-height: 0;
  min-height: 0;
  border: none;
  padding: 0;
}
.content[data-clicked='1'] {
  overflow-y: scroll;
  transition: max-height 0.6s ease-in-out, min-height 0.6s;
  height: auto;
  min-height: 300px;
  max-height: 80vh;
}
.content[data-clicked='0'] ~ .color-bottom {
  top: 320px;
  opacity: 1;
}
.content[data-clicked='1'] ~ .color-bottom {
  top: 620px;
}

.color-clip:hover {
  cursor: pointer;
}
.color-bottom {
  position: absolute;
  height: 300px;
  width: 80vw;
  top: 320px;
  right: 0;
  transition: top 0.6s, opacity 0.4s ease-in-out;
  -webkit-transition: top 0.6s, opacity 0.4s ease-in-out; /* Safari 3.1 to 6.0 */
  z-index: 1;
}

#orange {
  -webkit-clip-path: polygon(100% 0%, 100% 20%, 40% 100%, 20% 100%);
  clip-path: polygon(100% 0%, 100% 20%, 40% 100%, 20% 100%);
}

#orangeB {
  -webkit-clip-path: polygon(20% 0%, 40% 0%, 100% 80%, 100% 100%);
  clip-path: polygon(20% 0%, 40% 0%, 100% 60%, 100% 80%);
}
#blue {
  -webkit-clip-path: polygon(100% 20%, 100% 40%, 60% 100%, 40% 100%);
  clip-path: polygon(100% 20%, 100% 40%, 60% 100%, 40% 100%);
}
#blueB {
  -webkit-clip-path: polygon(40% 0%, 60% 0%, 100% 60%, 100% 80%);
  clip-path: polygon(40% 0%, 60% 0%, 100% 40%, 100% 60%);
}
#yellow {
  -webkit-clip-path: polygon(100% 40%, 100% 60%, 80% 100%, 60% 100%);
  clip-path: polygon(100% 40%, 100% 60%, 80% 100%, 60% 100%);
}
#yellowB {
  -webkit-clip-path: polygon(60% 0%, 80% 0%, 100% 40%, 100% 60%);
  clip-path: polygon(60% 0%, 80% 0%, 100% 20%, 100% 40%);
}

/* Projects Section: START */
.pCard {
  overflow: hidden;
  height: 150px;
  transition: max-height 0.6s ease-in-out;
  -webkit-transition: max-height 0.6s ease-in-out; /* Safari 3.1 to 6.0 */
}
.pActions {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 10px;
}
.button-wrapper {
  display: flex;
  width: 75ch;
  justify-content: space-between;
}
a.button {
  flex: 1;
  max-width: 6rem;
  height: 1rem;
  display: inline-block;
  padding: 0.5rem 3rem;
  border: 0.16rem solid aliceblue;
  margin: 0.3rem 0;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: aliceblue;
  text-align: center;
  transition: all 0.15s;
}
a.button:hover {
  color: #00d400;
  border-color: #00d400;
}
a.button:active {
  color: #009600;
  border-color: #009600;
}
#p0 {
  height: auto;
}
.pHead {
  width: 100%;
  height: 100%;
  min-width: 100%;
  min-height: 100%;
  position: relative;
}
.pCard[data-clicked='0'] {
  cursor: pointer;
}
.pHead::before {
  background-size: cover;
  content: '';
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 150px;
  z-index: -2;
  opacity: 0.65;
}
.pHead::after {
  background-color: #015001ce;
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: 0.4;
}
.textOverlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.pHead-text {
  color: #fff;
  text-shadow: #343a40 2px 2px;
  min-width: 100%;
  min-height: 150px;
  display: block;
  position: absolute;
  top: 15px;
}
.pHead-text::before {
  content: '';
  margin-left: 0;
  min-width: 100%;
  min-height: 150px;
  z-index: -1;
  opacity: 0.4;
  background-color: #343a40;
}
.pHead-title,
.pHead-text {
  width: 100%;
  display: block;
  text-align: center;
}
.pHead-title {
  margin: 10px 0;
  text-transform: uppercase;
}

/* Projects Section: END */

.blinking-cursor {
  font-weight: 100;
  font-size: 1rem;
  color: aliceblue;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes blink {
  from,
  to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: aliceblue;
    text-shadow: 0 0 5px #c8c8c8;
  }
}

@-moz-keyframes blink {
  from,
  to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: aliceblue;
    text-shadow: 0 0 5px #c8c8c8;
  }
}

@-webkit-keyframes blink {
  from,
  to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: aliceblue;
    text-shadow: 0 0 5px #c8c8c8;
  }
}

@-ms-keyframes blink {
  from,
  to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: aliceblue;
    text-shadow: 0 0 5px #c8c8c8;
  }
}

@-o-keyframes blink {
  from,
  to {
    color: transparent;
    text-shadow: none;
  }
  50% {
    color: aliceblue;
    text-shadow: 0 0 5px #c8c8c8;
  }
}
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px #0000004d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px #00ff00e0;
}

@media screen and (max-width: 30rem) {
  a.button {
    display: block;
    margin: 0.4rem auto;
  }
}
@media screen and (max-width: 960px) {
  .color-text {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 720px) {
  .info {
    font-size: 0.85rem;
  }
  .color-text {
    font-size: 1.2rem;
  }
  .content {
    width: 98%;
    right: 0;
  }
  a.button {
    font-size: 0.7rem;
  }
  h1 {
    font-size: 1.75rem;
  }
  h3 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .info {
    top: 3%;
    left: 15px;
  }
  address .address-item {
    margin: 0 5px;
  }
  a.button {
    font-size: 0.6rem;
  }
  .color-bottom {
    max-height: 200px;
  }
  .color-text {
    font-size: 1.15rem;
  }
  .frame {
    width: 100%;
    left: 0;
    top: 0;
    border-radius: 2rem;
    border: 1rem solid;
    border-bottom-color: #121212;
    border-left: none;
    border-right: none;
    border-top-color: #020202;
  }
}
