@import "../../../sass/variables";

#Console {
  color: white;
  position: fixed;
  height: $screen-height;
  width: $screen-width;
  top: $screen-top;
  left: $screen-left;
  overflow: hidden auto;
  z-index: 6;
  font-weight: 800;
  font-size: 3em;
  display: flex;
  flex-direction: column;
  ul {
    padding: 0;
    margin: 2rem;
    list-style: none;
    li {
      text-align: left;
      cursor: pointer;
      u {
        color: lawngreen;
      }
      &:hover {
        color: lawngreen;
      }
    }
  }
  .console-text {
    display: flex;
    font-size: 1.5rem;
    white-space: nowrap;
    align-items: flex-end;
    height: 1rem;
    width: $screen-width;
    padding: 0 2rem;
    margin-top: auto;
    margin-bottom: 2rem;
    .command-line {
      height: 1.75rem;
      overflow: hidden;
      padding: 0 0.5rem;
      width: 60vw;
      margin: 0;
      margin-left: 2rem;
      text-align: left;
      font-size: inherit;
      resize: none;
    }
  }
}
